<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
   </property>

   <!-- Assume students is the database name -->
   <property name="hibernate.connection.url">
      jdbc:mysql://localhost/registrator_db
   </property>
   <property name="hibernate.connection.username">root</property>
   <property name="hibernate.connection.password">root</property>
   
   <property name="hbm2ddl.auto">create</property>
   <property name="hbm2ddl.auto">update</property>
   
   	<!-- mapping files -->
	<mapping class="com.softserve.edu.registrator.entity.User"/>
	<mapping class="com.softserve.edu.registrator.entity.Role"/> 
	<mapping class="com.softserve.edu.registrator.entity.Address"/> 
	<mapping class="com.softserve.edu.registrator.entity.PassportInfo"/> 
	<mapping class="com.softserve.edu.registrator.entity.ResourceType"/>
	<mapping class="com.softserve.edu.registrator.entity.Resource"/> 
	<mapping class="com.softserve.edu.registrator.entity.DiscreteValue"/>
	<mapping class="com.softserve.edu.registrator.entity.LineSize"/>
	<mapping class="com.softserve.edu.registrator.entity.ResourceParameters"/>
	<mapping class="com.softserve.edu.registrator.entity.Area"/>
	<mapping class="com.softserve.edu.registrator.entity.StoreOfLineSizes"/>
	<mapping class="com.softserve.edu.registrator.entity.StoreOfDiscreteValues"/>

	<mapping class="com.softserve.edu.registrator.entity.Tome"/>
	<mapping class="com.softserve.edu.registrator.entity.Inquiry"/>
		
</session-factory>
</hibernate-configuration>